.card-panel.auth-card
  .beer-logo-container
    =image_tag('Beer-icon.png', class: 'beer-logo')
    %h3 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .input-field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .input-field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      %p
        %label
          = f.check_box :remember_me
          %span= f.label :remember_me
    .actions
      = f.submit "Log in", class: 'btn blue waves-effect waves-light submit-button'
    .shared-links
      = render "devise/shared/links"
