!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title The Beer Logger
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'Beer-icon.png'
  %body
    .container
      - if alert
        .card-medium.red.message-box
          %p.alert.alert-danger= alert
      - if notice
        .card-medium.teal.message-box
          %p.alert.alert-success= notice
      = yield
    %p.navbar-text.pull-right
      - if user_signed_in?
        Logged in as
        = succeed "." do
          %strong= current_user.email
        = link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link'
        |
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'
      - else
        = link_to 'Sign up', new_user_registration_path, class: 'navbar-link'
        |
        = link_to 'Login', new_user_session_path, class: 'navbar-link'
